{erl_opts, [debug_info]}.

{deps, [
    {epgsql, "4.7.1"}
]}.

{profiles, [
    {test, [
        {deps, [
            {meck, "0.9.2"}
        ]},
        {erl_opts, [debug_info]}
    ]}
]}.

{project_plugins, [rebar3_hex, rebar3_ex_doc]}.

{hex, [{doc, ex_doc}]}.

{ex_doc, [
    {source_url, <<"https://github.com/imboy-pub/erlang_migrate">>},
    {extras, [<<"README.md">>, <<"CHANGELOG.md">>, <<"LICENSE">>]},
    {main, <<"README.md">>}
]}.
